<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<div th:replace="~{fragment/header :: header-food}"></div>
<body>
    <div class="left div-logo-sm">
        <img th:src="@{/image/logo.png}" th:onclick="|location.href='@{/}'|" class="img-logo">
    </div>
    <!-- nav bar -->
    <div th:replace="~{fragment/nav :: nav-food}"></div>
    <!-- 검색 bar -->
    <div th:replace="~{fragment/searchBar :: searchBar-form}"></div>
    <section class="foodSection">
        <form name="form" th:action th:object="${foodModifyForm}" th:method="post" enctype="multipart/form-data">
            <div class="inlineLeft">
                <a th:href="@{/food/list}" class="link">< 목록으로</a>
            </div>
            <div class="inline center">
                <h4 class="fw-600">게시글 수정</h4>
            </div>
            <div style="clear: both;"></div>
            <div class="foodDiv">
                <div class="row baseline">
                    <div class="col-2">가게이름</div>
                    <div class="col-9">
                        <input type="text" id="storeName" th:field="*{storeName}" placeholder="가게명" required
                               th:classappend="${#fields.hasErrors('storeName')} ? 'fieldError'" class="form-control input-create">
                        <p class="text-error" th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}"></p>
                    </div>
                </div>
                <div class="row baseline">
                    <div class="col-2">카테고리</div>
                    <div class="col-9 left">
                        <span th:each="category : ${categories}" class="mr1r">
                            <input type="checkbox" th:field="*{categoryIds}" th:value="${category.id}" class="input-category">
                            <label th:for="${#ids.prev('categoryIds')}" th:text="${category.name}"></label>
                        </span>
                        <p class="text-error" th:if="${#fields.hasErrors('categoryIds')}" th:errors="*{categoryIds}"></p>
                        <p id="categoryErr" class="text-error"></p>
                    </div>
                </div>
                <div class="row baseline">
                    <div class="col-2">방문날짜</div>
                    <div class="col-9 left">
                        <input type="date" id="visitDate" th:field="*{visitDate}" placeholder="방문날짜" max="2200-12-31" required
                               th:classappend="${#fields.hasErrors('visitDate')} ? 'fieldError'" class="form-control w120">
                        <p class="text-error" th:each="error, stat : ${#fields.errors('visitDate')}" th:text="${error}" th:if="${stat.last}"></p>
                    </div>
                </div>
                <div class="row baseline">
                    <div class="col-2">별점</div>
                    <div class="col-9 left">
                        <span class="score">★★★★★<span th:style="|width: ${foodModifyForm.score * 20}%|" class="countStar">★★★★★</span><input type="range" id="score" name="score" th:field="*{score}" oninput="drawScore(this)" step="0.5" min="0.5" max="5" value="0.5"></span>
                        <span id="scoreDisplay" th:text="${foodModifyForm.score}"></span>
                        <p class="text-error" th:each="error, stat : ${#fields.errors('score')}" th:text="${error}" th:if="${stat.last}"></p>
                    </div>
                </div>
                <div class="row baseline mt0p5r">
                    <div class="col-2">리스트</div>
                    <div class="col-3 left">
                        <select id="listId" th:field="*{listId}" class="form-control form-control-sm">
                            <option th:each="list : ${lists}"
                                    th:value="${list.id}"
                                    th:text="${list.name}" />
                        </select>
                    </div>
                </div>
                <div class="row baseline mt0p5r">
                    <div class="col-2">게시글 제목</div>
                    <div class="col-9">
                        <input type="text" id="title" th:field="*{title}" required
                               th:classappend="${#fields.hasErrors('title')} ? 'fieldError'" class="form-control input-create">
                        <p class="text-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                    </div>
                </div>
                <div class="row w93p">
                    <textarea th:field="*{content}" required th:classappend="${#fields.hasErrors('content')} ? 'fieldError'" class="food-create-content form-control"></textarea>
                    <p class="text-error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                </div>
                <div class="row baseline">
                    <div class="col-2">주소</div>
                    <div class="col-9 left">
                        <input type="text" id="address" th:field="*{address}" readonly class="food-address-input form-control input-create" onclick="findAddress()">
                        <input type="button" value="주소찾기" onclick="findAddress()" class="btn btn-dark">
                        <input type="hidden" id="latitude" th:field="*{latitude}">
                        <input type="hidden" id="longitude" th:field="*{longitude}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">사진 등록</div>
                    <div class="col-10 left">
                        <!-- Thumbnail 이미지 -->
                        <div class="previewDiv-thumbnail">
                            <div class="preview">
                                <img id="preview-thumbnail" class="preview-thumbnail"
                                     th:src="${not #strings.isEmpty(foodModifyForm.oldThumbnailName)} ? |/picture/${loginId}/${foodModifyForm.oldThumbnailName}| : |https://dummyimage.com/200x250/fff/000&text=image|">
                            </div>
                            <label class="fileLabel">
                                <input type="file" id="thumbnail" th:field="*{thumbnail}" accept="image/jpeg, image/png, image/gif" required
                                       onchange="readImage(this)" class="file_real">
                                <input type="text" id="thumbnail-fake" placeholder="*.jpg/png/gif Only" readonly class="file_fake" tabindex="-1">
                                <span class="button">파일 선택</span>
                            </label>
                            <p class="text-error" th:if="${#fields.hasErrors('thumbnail')}" th:errors="*{thumbnail}"></p>
                            <input type="hidden" th:field="*{oldThumbnailName}">
                        </div>
                        <!-- 추가 FoodPicture -->
                        <div class="previewDiv-pictures">
                            <div th:each="pictureName, index : ${foodModifyForm.oldFoodFileNames}" class="preview">
                                <img th:id="|preview-picture${index.count}|" class="preview-thumbnail" th:src="|/picture/${loginId}/${pictureName}|">
                            </div>
                            <div class="preview" th:each="i : ${#numbers.sequence(#lists.size(foodModifyForm.oldFoodFileNames)+1,4)}" th:if="${#lists.size(foodModifyForm.oldFoodFileNames) < 4}">
                                <img th:id="|preview-picture${i}|" class="preview-thumbnail" src="https://dummyimage.com/200x250/fff/000&text=image">
                            </div>
                            <label class="fileLabel">
                                <input type="file" th:field="*{foodPictures}" multiple accept="image/jpeg, image/png, image/gif"
                                       onchange="readMultipleImage(this)" class="file_real">
                                <input type="text" id="picture-fake" placeholder="*.jpg/png/gif Only" readonly class="file_fake" tabindex="-1">
                                <span class="button">파일 선택</span>
                            </label>
                            <p class="text-error" th:if="${#fields.hasErrors('foodPictures')}" th:errors="*{foodPictures}"></p>
                            <input type="hidden" th:field="*{oldFoodFileNames}">
                            <input type="button" value="파일 전체 삭제" onclick="foodPicturesDelete()" class="btn btn-outline-dark mt0p5r">
                        </div>
                        <div style="clear: both;"></div>
                        <p id="foodPicturesErr" class="text-error"></p>
                        <p id="globalErr" class="text-error"></p>
                    </div>
                </div>
                <div class="mt2r">
                    <input type="hidden" th:field="*{foodId}">
                    <input type="button" value="수정" onclick="checkForm(false)" class="btn btn-dark btn-food-create">
                    <input type="button" value="취소" onclick="javascript:history.back();" class="btn btn-outline-dark btn-food-create">
                </div>
            </div>
        </form>
    </section>
    <script th:src="@{/js/food.js}"></script>
</body>
</html>