<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer-default" class="footer-default">
        <div>
            Copyright &copy; Wonkyung Choi 2023<br><br>
            Contact <br>
            Email dnjsrudl3407@naver.com
        </div>
    </footer>
    <footer th:fragment="footer-sm" class="footer-sm">
        <div>
            Copyright &copy; Wonkyung Choi 2023<br><br>
            Contact <br>
            Email dnjsrudl3407@naver.com
        </div>
    </footer>
    <footer th:fragment="footer-fix" class="footer-fix">
        <div>
            Copyright &copy; Wonkyung Choi 2023<br><br>
            Contact <br>
            Email dnjsrudl3407@naver.com
        </div>
    </footer>
</body>
</html>