<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
탈퇴하기
<section>
  <form th:action th:method="post">
    <div>
      회원탈퇴 시 작성한 게시글은 모두 사라집니다.
      회원탈퇴를 진행하시겠습니까?
    </div>
    <div>
      <input type="checkbox" id="deleteCheck" name="deleteCheck" required>
      <label for="deleteCheck">위 내용 확인 후 회원탈퇴를 진행합니다.</label>
      <br>
      <input type="submit" value="탈퇴하기">
      <input type="button" onclick="javascript:history.back();" value="취소">
    </div>
  </form>
</section>
</body>
</html>