<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
로그인
<form id="form">
  <div>
    <label for="loginId">아이디</label>
    <input type="text" id="loginId" placeholder="아이디">
  </div>
  <div>
    <label for="password">비밀번호</label>
    <input type="password" id="password" placeholder="비밀번호" autocomplete="off">
  </div>
  <div>
    <p id="globalErr" class="text-error"></p>
    <input type="button" onclick="login()" value="로그인">
  </div>
  <div>
    <a th:href="@{/oauth2/authorization/kakao}"><img th:src="@{/image/kakao_login_medium_wide.png}"></a>
    <a th:href="@{/user/join}" class="link">회원가입</a>
  </div>
</form>
<script th:inline="javascript">
    var requiredLoginId = "[(#{required.user.loginId})]";
    var requiredPassword = "[(#{required.user.password})]";
</script>
<script th:src="@{/js/login.js}"></script>
</body>
</html>