html, body {
  height: 100%;
  font-size: 13px !important;
  margin: 0 !important;
  padding: 0 !important;
}

input[type='date'] {
  width: 110px !important;
  display: inline !important;
  margin: 0 !important;
}

.btn, .form-control {
  font-size: 13px !important;
}

.mt0p2r {
  margin-top: 0.2rem;
}

.mt0p4r {
  margin-top: 0.4rem;
}

.mt0p5r {
  margin-top: 0.5rem;
}

.mt1r {
  margin-top: 1rem;
}

.mt2p {
  margin-top: 2%;
}

.mt12p {
  margin-top: 12%;
}

.mt1r {
  margin-top: 1rem;
}

.mt2r {
  margin-top: 2rem;
}

.m3p {
  margin: 3% !important;
}

.m1r {
  margin: 1rem;
}

.mr0p2r {
  margin-right: 0.2rem;
}

.mr0p4r {
  margin-right: 0.4rem;
}

.mr0p5r {
  margin-right: 0.5rem;
}

.mr1r {
  margin-right: 1rem;
}

.mr1p5r {
  margin-right: 1.5rem;
}

.mb1p {
  margin-bottom: 1%;
}

.mb0p5r {
  margin-bottom: 0.5rem !important;
}

.ml0p5r {
  margin-left: 0.5rem;
}

.ml0p8r {
  margin-left: 0.8rem;
}

.ml1r {
  margin-left: 1rem;
}

.pb1p {
  padding-bottom: 1%;
}

.inlineLeft {
  display: inline-block;
  float: left;
}

.inlineRight {
  display: inline-block;
  float: right;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

/* width */
.w70 {
  width: 70px;
}

.w120 {
  width: 120px;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.w300 {
  width: 300px;
}

.w90p {
  width: 90%;
}

.w93p {
  width: 93%;
}

.w100p {
  width: 100%;
}

/* height */
.h180 {
  height: 180px;
}

/* font 속성 */
pre {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: inherit;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.fs-14 {
  font-size: 14px;
}

.fw-600 {
  font-weight: 600;
}

.fw-bold {
  font-weight: bold;
}

/* cursor 속성 */
.cursor-default {
  cursor: default;
}

.fieldError {
  border-color: #bd2130;
}

.text-error {
  color: #bd2130;
  font-size: 13px;
  margin: 0.3rem 0 0.6rem 0.3rem
}

.text-ok{
  color: #018244;
  font-size: 0.8rem;
  margin: 0.3rem 0 0.6rem 0.3rem
}

.link {
  opacity: 0.65;
  color: inherit;
  cursor: pointer;
  text-decoration: none !important;
}

.link:hover {
  opacity: 1;
  color: inherit;
}

.disabled {
  pointer-events: none;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.baseline {
  align-items: baseline;
}

.form-control {
  margin-bottom: 2%;
}

/* 로고 이미지 */
.div-login-logo {
  padding-top: 12%;
}

.div-logo {
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: white;
}

.div-logo-sm {
  padding-top: 2%;
  background-color: white;
}

.img-logo {
  cursor: pointer;
}

.div-logo-sm .img-logo {
  width: 300px;
}

/* 네비게이션 */
.navDiv {
  padding-right: 3%;
  background-color: white;
  font-size: 14px;
}

/* 검색 bar */
.searchBar {
  margin: auto !important;
  width: 40% !important;
}

.searchBar form {
  width: 100% !important;
  display: flex !important;
}

.searchBar div {
  display: -webkit-box !important;
}

.searchBar-input {
  border-radius: 1rem !important;
  margin-right: -57px !important;
  padding-left: 1rem !important;
}

.searchBar-btn {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 1rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 1rem !important;
  width: 58px !important;
}

/* background-color */
.bg-white {
  background-color: white;
}

.bg {
  background-color: #F8F2EE !important;
}

/* button color */
.btn-outline-dark {
  background-color: white !important;
}

.btn-outline-dark:hover{
  background-color: #343a40 !important;
  color: white;
}