/* 검색조건 */
.conditionSection {
  width: 90%;
  margin: 1% auto;
}

.categoryDiv {
  margin: auto;
}

.category-check {
  display: none;
}

.btn-category {
  border-radius: 2rem !important;
  min-width: 90px;
}

.btn-calendar {
  vertical-align: baseline !important;
  width: 55px;
}

.condition-title {
  margin-right: 2rem;
}

.select-list {
  width: 60% !important;
  display: inline !important;
}

.order-list {
  display: inline;
}

.order-label {
  vertical-align: middle;
}

.order-input {
  vertical-align: middle;
  margin-right: 0.2rem;
}

/* food list */
.listSection {
  padding: 1% 9%;
  background-color: #F8F2EE;
}

.preview-list {
  width: 210px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  background-color: white;
  min-height: 383px;
}

.storeName {
  margin: 10px;
  font-weight: 600 !important;
}

.preview-img {
  min-height: 266px;
}

/* 별점 */
.score {
  position: relative;
  font-size: 25px;
  color: #ddd;
}

.score input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
}

.score .countStar {
  width: 0;
  position: absolute;
  left: 0;
  color: #ffc107;
  overflow: hidden;
  pointer-events: none;
}

.food-title {
  font-weight: 600;
  margin-left: 5px;
}

.food-category {
  margin: 2px 0 0 8px;
  text-align: left;
  font-size: 12px;
  color: grey;
}

.food-visitDate {
  text-align: right;
  margin: 2px 8px 10px;
  font-size: 12px;
}

/* 페이징 */
.pagingSection {
  padding: 1% 0 3% 0;
  background-color: #F8F2EE;
}


/* food detail */
.foodSection {
  text-align: -webkit-center;
  padding: 1% 0 3% 0;
  background-color: #F8F2EE;
}

.foodSection form {
  width: 750px;
}

.foodDiv {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}

.btn-food-detail {
  width: 70px;
  margin-bottom: 1rem;
}

.food-storeName {
  margin: 0.2rem;
  font-weight: bold;
}

.food-picture {
  width: 170px;
  margin: 0 2px;
}

.contentDiv {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.contentDiv hr {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.food-content {
  width: 100%;
  text-align: left;
}

.food-list {
  font-size: 12px;
  text-align: left;
}

.food-detail-category {
  text-align: left;
  font-size: 12px;
  color: grey;
}

.food-detail-visitDate {
  text-align: right;
  font-size: 12px;
  color: grey;
}


/* food create */
foodSection input:-internal-autofill-selected {
  background-color: none !important;
}

.input-create {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.input-category {
  vertical-align: middle;
}

.food-create-content {
  width: 100%;
  resize: none;
  height: 300px;
}

.food-address-input {
  width: 70% !important;
  margin-right: 0.5rem;
  display: inline !important;
  cursor: pointer;
}

.btn-food-create {
  width: 90px;
  margin-bottom: 1rem;
}

/* 파일 이미지 */
.previewDiv-thumbnail {
  display: inline-block;
  float: left;
  text-align: center;
  margin-right: 5px;
  width: 195px;
}

.previewDiv-pictures {
  display: inline-block;
  float: left;
  text-align: center;
  max-width: 370px;
}

.preview {
  width: 175px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  background-color: white;
}

.preview-thumbnail {
  width: 165px;
  margin: 5px 0;
}

/* 파일 버튼 */
.fileLabel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  width: 100%;
  margin: auto;

  .file_real {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    display: block;
  }

  .file_fake {
    padding: 0 15px;
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
  }

  .button {
    color: #fff;
    background-color: #6c757d;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: .375rem .75rem;
    height: 2.5rem;
  }
}