<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
  아이디 찾기
  <form name="form" th:action th:object="${emailCheckForm}" th:method="post" onsubmit="return checkForm()">
    <div>
      <label for="email">이메일</label>
      <input type="text" id="email" th:field="*{email}" placeholder="이메일" required
             onchange="emailCheck()" th:classappend="${#fields.hasErrors('email')} ? 'fieldError'">
      <input type="button" value="이메일 인증" onclick="emailAuth()">
      <br>
      <input type="text" th:field="*{authNum}" placeholder="인증번호 입력" required
             onchange="authNumCheck()" th:classappend="${#fields.hasErrors('authNum')} ? 'fieldError'">
      <p class="text-error" id="emailErr" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
      <p class="text-error" id="authNumErr" th:if="${#fields.hasErrors('authNum')}" th:errors="*{authNum}"></p>
      <p id="checkEmailResult" class="text-error"></p>
    </div>
    <div>
      <p id="globalErr" th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}"></p>
      <input type="submit" value="아이디 찾기">
    </div>
  </form>
  <script th:inline="javascript">
    var formatEmail = "[(#{format.email})]";
    var error = "[(#{error})]";
  </script>
  <script th:src="@{/js/account.js}"></script>
</body>
</html>