<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
홈페이지
<a sec:authorize="isAnonymous()" th:href="@{/loginForm}" class="link">로그인</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="link">로그아웃</a>
<a sec:authorize="isAuthenticated()" th:href="@{/food/list}" class="link">리스트</a>
<a sec:authorize="isAuthenticated()" th:href="@{/user/myPage}" class="link">마이페이지</a>
</body>
</html>