<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
    카테고리 등록
    <form name="form" th:action th:object="${categoryCreateForm}" th:method="post">
        <div>
          <label for="name">카테고리명</label>
          <input type="text" id="name" th:field="*{name}" placeholder="카테고리명"
                 th:classappend="${#fields.hasErrors('name')} ? 'fieldError'">
          <p class="text-error" id="nameErr"></p>
        </div>
        <div>
            <label for="name">활성화</label>
            <input type="checkbox" id="isDel" th:field="*{isDel}">
        </div>
        <div>
            <input type="submit" value="등록">
            <input type="button" value="취소" onclick="javascript:history.back();">
        </div>
    </form>
    <script th:src="@{/js/category.js}"></script>
</body>
</html>